<div class="slide-one-item home-slider">
    <carousel class="carousel slide carousel-fade">
        <slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide" class="img-responsive center-block" style="width: 100%;object-fit: cover">
        </slide>
    </carousel>        
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 section-heading"><h2>Latest Posts</h2></div>
        </div>
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div>
                  <a href="single.html"><img src="../../assets/images/facebook2.jpg" alt="Image" class="img-fluid rounded"></a>  
                  <div class="entry3 d-block d-sm-flex">
                      <div class="text mr-4 order-1">
                          <span class="post-category text-white bg-success mb-3">Blogs</span>
                          <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
                          <span class="post-meta mb-3 d-block">May 12, 2019</span>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio.</p>
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 pl-lg-4">
                <div class="bio text-center">
                    <img src="../../assets/images/bio2.jpg" alt="Image Placeholder" class="img-fluid mb-5">
                    <div class="bio-body">
                        <h2>Priya Haridas Kotnis</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
                        <p class="social">
                            <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                            <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                            <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                            <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 section-heading"><h2>Categories</h2></div>
        </div>
      <div class="row align-items-stretch retro-layout">
        <div class="col-md-5">
          <a href="blogs/fashion" class="hentry img-1 h-100 gradient" style="background-image: url('../assets/images/fashion.jpg');">
            <span class="post-category text-white bg-danger">Fashion</span>
            <div class="text">
              <span>View All</span>
            </div>
          </a>
        </div>
        <div class="col-md-7">
          <a href="blogs/beauty" class="hentry img-2 v-height mb30 gradient" style="background-image: url('../assets/images/beauty.jpg');">
            <span class="post-category text-white bg-success">Beauty</span>
            <div class="text text-sm">
              <span>View All</span>
            </div>
          </a>
          <div class="two-col d-block d-md-flex">
            <a href="blogs/travel" class="hentry v-height img-2 gradient" style="background-image: url('../assets/images/travel.jpg');">
              <span class="post-category text-white bg-primary">Travel</span>
              <div class="text text-sm">
                <span>View All</span>
              </div>
            </a>
            <a href="blogs/lifestyle" class="hentry v-height img-2 ml-auto gradient" style="background-image: url('../assets/images/lifestyle.jpeg');">
              <span class="post-category text-white bg-warning">Lifestyle</span>
              <div class="text text-sm">
                <span>View All</span>
              </div>
            </a>
          </div>          
        </div>
      </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 section-heading"><h2>Instagram Updates</h2></div>
        </div>
        <div class="row">
            <div class="column" *ngFor="let slide of slides; let index=index">
              <img [src]="slide" alt="Snow" style="width:100%">
            </div>
          </div>   
    </div>
</div>
