<div class="header-top" style="background-color: #fbceb1">
    <div class="container">
        <div class="site-logo">
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="52" height="52"
            viewBox="0 0 226 226" style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,226v-226h226v226z" fill="none"></path><g fill="#ffffff">
                <path d="M111.37019,0c-4.04057,0.44141 -7.77554,2.27494 -10.59375,5.16106l-26.07692,26.07692c-3.25962,3.22566 -5.12711,7.63972 -5.16106,12.22356v34.76923h-17.38462v34.76923h17.38462v78.23077h34.76923v-78.23077h34.76923v-34.76923h-34.76923v-27.70673l15.75481,-15.75481h20.64423l20.91587,20.91587l24.44712,-24.44712l-26.07692,-26.07692c-3.22566,-3.25962 -7.63972,-5.1271 -12.22356,-5.16106h-34.76923c-0.54327,-0.03395 -1.08654,-0.03395 -1.62981,0z">
                </path>
            </g></g>
            </svg>
        </a>
        </div>
        <div class="header-social">
            <a href="#"><i class="fa fa-instagram" style="color: #fff"></i></a>
            <a href="#"><i class="fa fa-facebook" style="color: #fff"></i></a>
            <a href="#"><i class="fa fa-twitter" style="color: #fff"></i></a>
            <a href="#"><i class="fa fa-youtube" style="color: #fff"></i></a>
        </div>
    </div>
</div>
<div class="header-bottom" style="background-image: url('./assets/images/pattern.png');background-size:100%;object-fit:cover;padding: 0%">
    <div class="container">
        <carousel class="carousel slide carousel-fade">
            <slide *ngFor="let slide of slides; let index=index">
                <img [src]="slide" class="img-responsive center-block" style="width: 100%;height: 400px;object-fit: cover">
            </slide>
        </carousel>
        <ul class="main-menu">
                <li><a href="#">Fashion</a></li>
                <li><a href="contact.html">Beauty</a></li>
                <li><a href="#">Night Life</a></li>
        </ul>        
    </div>
</div>