<div class="comment-form-wrap pt-1">
    <h2 class="font-weight-bold mb-3">Blog Upload Form</h2>
    <form [formGroup]="blogForm" class="p-1">
        <div class="md-form">
            <input mdbInput placeholder="Enter Blog Title here" type="text" id="title" class="form-control" formControlName="title">
            <label for="title">Blog Title *</label>
        </div>
        
        <div class="md-form">
                <input mdbInput placeholder="Enter Blog Sub-Title here" type="text" id="subtitle" class="form-control" formControlName="subtitle">
                <label for="subtitle">Blog Sub-Title *</label>
        </div>

        <label>Blog Type *</label>&nbsp;
        <select class="browser-default custom-select" formControlName="type">
            <option selected value="fashion">Fashion</option>
            <option value="travel">Travel</option>
            <option value="beauty">Beauty</option>
            <option value="food">Food</option>
        </select><br/><br/>
        
        <label>Cover Photo *</label>
        <button mdbBtn (click)="addCoverPic()" color="default" rounded="true" mdbWavesEffect>Select Cover Pic</button><br/><br/>       
        
        <label>Pic 1 *</label>
        <button mdbBtn (click)="addPic1()" color="default" rounded="true" mdbWavesEffect>Select Pic 1</button><br/><br/> 

        <label>Pic 2 *</label>
        <button mdbBtn (click)="addPic2()" color="default" rounded="true" mdbWavesEffect>Select Pic 2</button><br/><br/> 

        <label>Pic 3 *</label>
        <button mdbBtn (click)="addPic3()" color="default" rounded="true" mdbWavesEffect>Select Pic 3</button><br/><br/> 

        <div class="md-form md-outline">
            <textarea type="text" id="description" formControlName="description" class="form-control md-textarea" rows="3" mdbInput></textarea>
            <label for="description">Blog Description *</label>
        </div>

        <input mdbBtn color="primary" [disabled]="!blogForm.valid" value="Add Blog" (click)="addBlog()">
    </form>
</div>