<div class="comment-form-wrap pt-5">
    <form [formGroup]="blogForm" action="#" class="p-5 bg-light">
        <label>Blog Title *</label>
        <input type="text" class="form-control" id="title" formControlName="title"><br/>
            
        <label>Blog Subtitle *</label>
        <input type="email" class="form-control" id="email" formControlName="subtitle"><br/>
            
        <label>Type *</label>&nbsp;
        <select formControlName="type">
            <option value="fashion">Fashion</option>
            <option value="travel">Travel</option>
            <option value="beauty">Beauty</option>
            <option value="lifestyle">Lifestyle</option>
        </select><br/>
        
        <label>Cover Photo *</label>
        <input type="file" class="form-control" id="coverPic" formControlName="coverPic" (change)="addCoverPic($event)"><br/>
                
        <label>Pic 1 *</label>
        <input type="file" class="form-control" id="pic1" formControlName="pic1" (change)="addPic1($event)"><br/>
                
        <label>Pic 2 *</label>
        <input type="file" class="form-control" id="pic2" formControlName="pic2" (change)="addPic2($event)"><br/>
                
        <label>Pic 3 *</label>
        <input type="file" class="form-control" id="pic3" formControlName="pic3" (change)="addPic3($event)"><br/>
            
        <label>Description *</label>
        <textarea name="" id="message" cols="30" rows="10" class="form-control" formControlName="description"></textarea><br/>

        <input value="Add Blog" (click)="addBlog()" class="btn btn-primary">
    </form>
</div>