<div *ngIf="bShowloader; then ifblock; else elseblock"></div> 
<ng-template #ifblock>
  <h3 class="font-weight-bold mb-3">Loading Blog Content</h3>
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
<ng-template #elseblock>
  <div class="site-cover site-cover-sm same-height overlay single-page" [ngStyle]="{'background-image': getUrl()}">
      <div class="container">
        <div class="row same-height justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="post-entry text-center">
              <span class="post-category text-white bg-success mb-3">{{post.type}}</span>
              <h1 class="mb-4"><a>{{post.title}}</a></h1>
              <div class="post-meta align-items-center text-center">
                <span>&nbsp;-&nbsp;{{ post.time | date: 'EEEE, MMMM d, y' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
    
  <section class="site-section py-lg">
      <div class="container"> 
        <div class="row blog-entries element-animate">
          <div class="main-content">
            <div class="post-content-body">
              <h2 class="font-weight-bold mb-3">{{post.subtitle}}</h2>
              <p style="text-align:justify">{{post.description}}</p>
              <div class="row">
                <div class="column" *ngFor="let pic of row1;let i=index">
                  <img [src]="pic" (click)="picClicked(i,1)" style="width:100%">
                </div>
              </div>
              <div class="row">
                <div class="column" *ngFor="let pic of row2;let j=index">
                  <img [src]="pic" (click)="picClicked(j,2)" style="width:100%">
                </div>
              </div>    
            </div>
          </div>
        </div>
      </div>
  </section>
  <div id="myModal" class="modal">
    <span class="close" (click)="spanClicked()">&times;</span>
    <img class="modal-content" id="img01">
  </div>
</ng-template>