<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('../../assets/images_data/caraousel/cover_pic_3.jpg');">
    <div class="container">
      <div class="row same-height justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="post-entry text-center">
            <span class="post-category text-white bg-success mb-3">{{post.type}}</span>
            <h1 class="mb-4"><a href="#">{{post.title}}</a></h1>
            <div class="post-meta align-items-center text-center">
              <span>&nbsp;-&nbsp; February 10, 2019</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
<section class="site-section py-lg">
    <div class="container"> 
      <div class="row blog-entries element-animate">
        <div class="main-content">
          <div class="post-content-body">
            <p>{{post.description}}</p>
            <div class="row mb-5 mt-5">
              <div class="col-md-6 mb-4">
                <img src={{post.pic1}} alt="Image placeholder" class="img-fluid rounded">
              </div>
              <div class="col-md-6 mb-4">
                <img src={{post.pic2}} alt="Image placeholder" class="img-fluid rounded">
              </div>
            </div>
            <div class="col-md-15 mb-4">
              <img src={{post.pic3}} alt="Image placeholder" style="width: 100%;">
            </div>    
          </div>
        </div>
      </div>
    </div>
</section>