<div class="container">
    <div class="row mb-5">
        <div class="col-md-4">
            <h3 class="footer-heading mb-4 text-black">About Me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
        </div>
        <div class="col-md-3 ml-auto">
            <h3 class="footer-heading mb-4 text-black">Quick Menu</h3>
            <ul class="list-unstyled float-left mr-5">
                <li><a href="blogs/fashion">Fashion</a></li>
                <li><a href="blogs/beauty">Beauty</a></li>
                <li><a href="blogs/food">Food</a></li>
                <li><a href="blogs/travel">Travel</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="mb-5">
                <div>
                    <h3 class="footer-heading mb-4 text-black">Join My Fam!</h3>
                    <form [formGroup]="subscribeForm" class="form-footer-subscribe">
                        <input type="text" class="form-control" id="email" formControlName="name" placeholder="Full Name"><br/>
                        <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email ID"><br/>
                        <input type="text" class="form-control" id="email" formControlName="mobile" placeholder="Mobile Number"><br/>
                        <input type="submit"  (click)="joinFam()" class="btn btn-primary text-white" value="Subscribe">
                    </form>
                    <p>
                        <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                        <a href="#"><span class="icon-twitter p-2"></span></a>
                        <a href="#"><span class="icon-instagram p-2"></span></a>
                        <a href="#"><span class="icon-youtube p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>
                Copyright &copy; All rights reserved by Kailash Chivhe
            </p>
        </div>
    </div>
</div>
