<div class="container">
    <div class="row mb-5">
        <div class="col-md-4">
            <h3 class="footer-heading mb-4 text-black">About Me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
        </div>
        <div class="col-md-3 ml-auto">
            <h3 class="footer-heading mb-4 text-black">Quick Menu</h3>
            <ul class="list-unstyled float-left mr-5">
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Beauty</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Travel</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="mb-5">
                <div>
                    <h3 class="footer-heading mb-4 text-black">Join My Fam!</h3>
                    <form class="form-footer-subscribe">
                        <div class="form-group ">
                            <div class="md-form">
                                <input mdbInput placeholder="Enter your NAME here" type="text" id="name" class="form-control" >
                                <label for="name">Name *</label>
                            </div>
                            <div class="md-form">
                                <input mdbInput placeholder="Enter your Email ID here" type="text" id="email" class="form-control" >
                                <label for="email">EmailID *</label>
                            </div>
                            <div class="md-form">
                                <input mdbInput placeholder="Enter your Mobile number here" type="text" id="phone" class="form-control">
                                <label for="phone">Mobile Number *</label>
                            </div>
                            <input mdbBtn color="primary" value="Subscribe">
                        </div>
                    </form>
                    <p>
                        <a href="#"><span class="fa fa-instagram fa-2x p-2"></span></a>
                        <a href="#"><span class="fa fa-facebook fa-2x p-2"></span></a>
                        <a href="#"><span class="fa fa-twitter fa-2x p-2"></span></a>
                        <a href="#"><span class="fa fa-youtube fa-2x p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>
                Copyright &copy; All rights reserved by Kailash Chivhe
            </p>
        </div>
    </div>
</div>
