<div class="row">
    <div class="col-xs-12">
      <button mdbBtn color="success" (click)="onNewProject()">Add New Blog</button>
    </div>
    <div class="col-xs-12">
        <button mdbBtn color="primary" (click)="displayFamDetails()">Display My Fam Details</button>
    </div>
</div>
<hr>
<section class="my-3">
    <h2 class="font-weight-bold mb-3">Blog List</h2>
    <div *ngIf="bShowloader; then ifblock; else elseblock"></div> 
    <ng-template #ifblock>
        <h3 class="font-weight-bold mb-3">Loading Blogs</h3>
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </ng-template>
    <ng-template #elseblock>
        <div *ngFor="let post of latestPosts">
            <div class="row">
                <div class="col-lg-5">
                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid" src={{post.coverPhoto}} alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h3 class="font-weight-bold mb-3"><strong>{{post.title}}</strong></h3>
                    <a mdbBtn color="warning" outline="true" (click)="editBlog(post)" mdbWavesEffect>Edit</a>
                    <a mdbBtn color="danger" outline="true" (click)="deleteBlog(post)" mdbWavesEffect>Delete</a>
                </div>  
            </div><br/>
        </div>    
    </ng-template>
</section>
  
  