<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <div class="card rounded-0">
          <div class="card-header">
            <h2 class="font-weight-bold mb-3">Admin Login</h2>
          </div>
          <div class="card-body">
            <div [formGroup]="adminLoginForm">
              <div class="md-form">
                  <input mdbInput formControlName="adminemail" type="text" id="adminemail" class="form-control" >
                  <label for="adminemail">User Name</label>
              </div>
              <div class="md-form">
                  <input mdbInput formControlName="password" type="password" id="password" class="form-control" >
                  <label for="password">Password</label>
              </div>
              <button mdbBtn color="success" [disabled]="!adminLoginForm.valid" (click)="loginUser()"class="font-weight-bold mb-3">
                  Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>